name: Deploy React + Vite to Github pages

on:
  push:
    branches:
      -main

jobs:
    build-deploy:
        runs-on: ubuntu-latest

        steps:
            #Checkout Repository
            - name: Checkout code
              uses: actions/checkout@v3

            #Setup Nodejs
            - name: Checkout code
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install Dependencies
              run: npm Install

            - name: Install Dependencies
              run: npm run build

            - name: Deploy to github pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: dist